/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("/views/Hintergrund_Start.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.content{
    -fx-font-size: 20pt;
    -fx-font-family: "";
    -fx-base: rgb(234, 231, 219);
    -fx-alignment: center;
}

.verboAeussereBox {
	-fx-alignment: center;	
	-fx-pref-height: 600;
	-fx-padding: 240 0 0 0;
}

.license {
	-fx-pref-width: 500;
	-fx-pref-height: 70;
	-fx-font-size: 8pt;
	-fx-text-fill: green;
	-fx-border: 0;
	-fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;

}

.license .content {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-background-image: url("/views/license.png");
	-fx-border: 0;
	-fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.labelOver1 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 200;
	-fx-pref-height: 50;
	-fx-text-fill: green;
	-fx-alignment: center;
	-fx-background-color: white;


}


.labelOver2 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 500;
	-fx-pref-height: 50;
	-fx-text-fill: green;
	-fx-background-image: url("/views/over.png");
	-fx-padding: 0 0 0 40;
}

.labelOver3 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 500;
	-fx-pref-height: 50;
	-fx-text-fill: green;
	-fx-background-image: url("/views/over.png");
	-fx-padding: 0 0 0 40;
}

.labelOver4 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 500;
	-fx-pref-height: 50;
	-fx-text-fill: green;
	-fx-background-image: url("/views/over.png");
	-fx-padding: 0 0 0 40;

}

.menu-bar{
  -fx-background-color: #000;
}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: #86bf58;
}

.menu-item .label{
     -fx-font-size: 15 pt;
    -fx-text-fill: #86bf58;
}
