/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("img/Hintergrund_Game.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 950 630;
    -fx-background-position: center center;  
  }
  
.content{
    -fx-pref-height: 600;
    -fx-pref-width: 950;
}

.image-view {
	-fx-pref-width: 50;
	-fx-pref-height: 50;

}
