/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-font-size: 20pt;
    -fx-font-family: "";
    -fx-base: rgb(234, 231, 219); 
    -fx-background-size: 950 630;
    -fx-padding: 0 0 0 0;
}

.image-view {
	-fx-pref-width: 50;
	-fx-pref-height: 50;

}
