.menu-bar{
  -fx-background-color: #000;
}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: #86bf58;
}

.menu-item .label{
     -fx-font-size: 15 pt;
    -fx-text-fill: #86bf58;
}