/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("img/Hintergrund_Highscore.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 950 600;
    -fx-background-position: center center;
}

.content{
    -fx-font-size: 20pt;
    -fx-font-family: "";
    -fx-base: rgb(234, 231, 219);
    -fx-alignment: center;
}

.verboAeussereBox {
	-fx-alignment: center;	
	-fx-pref-height: 600;
	-fx-padding: 260 0 0 0;
}

.neuesSpiel {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-image: url("img/btn_NeuesSpiel.png");
    -fx-background-color: rgb(255,255,255);
   	-fx-padding: 0 0 60 0;
}

.neuesSpiel:hover {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-image: url("img/btn_NeuesSpiel_hover.png");
    -fx-background-color: rgb(255,255,255);
    -fx-padding: 0 0 60 0;
}

.highlabel1 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 520;
	-fx-pref-height: 50;
	-fx-padding: 0 0 0 60;
	-fx-text-fill: green;
	-fx-background-image: url("img/Highscore_01.png");

}


.highlabel2 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 520;
	-fx-pref-height: 50;
	-fx-padding: 0 0 0 60;
	-fx-text-fill: green;
	-fx-background-image: url("img/Highscore_02.png");
}

.highlabel3 {
	-fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
	-fx-pref-width: 520;
	-fx-pref-height: 50;
	-fx-padding: 0 0 0 60;
	-fx-text-fill: green;
	-fx-background-image: url("img/Highscore_03.png");
}


.menu-bar{
  -fx-background-color: #000;
}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: #86bf58;
}

.menu-item .label{
     -fx-font-size: 15 pt;
    -fx-text-fill: #86bf58;
}
