/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-font-size: 20pt;
    -fx-font-family: "";
    -fx-base: rgb(234, 231, 219);
    -fx-background-image: url("img/Hintergrund_Start.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 950 600;
    -fx-background-position: center center;
    -fx-alignment: center;
}

.button {
    -fx-background-color: rgb(0255,255,255);
    -fx-padding: 15 0 0 0;
}

.verboAeussereBox {
	-fx-alignment: center;
	-fx-padding: 300 0 0 0;
}

.spielerName {
	-fx-padding: 10;
	-fx-border-style: solid inside;
	-fx-border-width: 2;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
	-fx-border-color: green;
	-fx-pref-width: 300;
}